/*Kristin DeCarlo

Pink- #DB8DB7
Ocean blue- #5B72E8
Purple- #900DFF

*/

header{
    background-color: #dddddd;
}
    
h1{
    color: #DB8DB7;
}

.colorsquare{
    width: 200px;
    height: 200px;
    float: left;
}

.colorwrapper{
    background-color: purple;
}

.color1{
    background-color: #DB8DB7;
}

.color2{
    background-color: #5B72E8;
}

.color3{
    background-color: #900DFF;
}

.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
    .clearfix:after {
        clear: both;
    }

 body{
            color: purple;
            width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
       
