@import url(http://fonts.googleapis.com/css?family=Raleway);

font-family: 'Raleway', sans-serif;

/*Kristin DeCarlo

Pink- #DB8DB7
Ocean blue- #5B72E8
Purple- #900DFF

*/

header{
    background-color: #dddddd;
}
    
h1{
    color: #DB8DB7;
    font-family: 'Raleway', sans-serif;
}

.colorsquare{
    width: 140px;
    height: 140px;
    float: left;
}

.colorwrapper{
    background-color: purple;
}

.color1{
    background-color: #DB8DB7;
    margin: 2%;
}

.color2{
    background-color: #5B72E8;
    margin: 2%;
}

.color3{
    background-color: #900DFF;
    margin: 2%;
}

.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
    .clearfix:after {
        clear: both;
    }

 body{
            color: purple;
            width: 800px;
            margin-left: auto;
            margin-right: auto;
            font-family: gill sans;
      background-image: url('../images/light_grey.png');
        }
       
.site-footer a{
font-size: 1em;
color: purple;
}

.site-footer a:hover{
color: pink;
}

.main{
    width: 64%;
        float: left;
    border-style: solid;
}
.sidebar{
    width: 30%;
    float: right;
    border-style: solid;
}

.talk{
    border-style: solid;
    margin: 2%;
    text-align: center;
}

ul{
    list-style-type: none;
}

